accimage==0.2.0
ADEval==1.1.0
albumentations==0.4.3
apex==0.9.10dev
click==8.1.7
einops==0.8.0
fvcore==0.1.5.post20221221
imgaug==0.2.6
matplotlib==3.7.1
monai==1.4.0
moviepy==1.0.3
numba==0.60.0
numpy==2.2.2
opencv_python==4.7.0.72
Pillow==9.5.0
Pillow==11.1.0
scikit_learn==1.0.2
scipy==1.15.1
segmentation_models_pytorch==0.3.4
skimage==0.0
tabulate==0.9.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
timm==0.9.7
torch==2.1.2
torchmetrics==1.4.0.post0
torchvision==0.16.2
tqdm==4.65.0
